<!DOCTYPE html>
<html lang="en">

    <head>
        <title>All Password</title>
    </head>

    <body>
        {% for app in apps %}.
        <div style="display: flex; align-items: center;"><h5>App Name:  </h5>  <p>{{ app.app_name }}</p></div>
        <div style="display: flex; align-items: center;"><h5>Username:  </h5>  <p>{{ app.username }}</p></div>
        <div style="display: flex; align-items: center;"><h5>Password:  </h5>  <p>{{ app.password }}</p></div>
        <hr/>
        {% endfor %}
    </body>

</html>